@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=cyrillic');
  @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=cyrillic');


/* -- общие переменные --*/

$text_font_Roboto_Slab: 'Roboto Slab', serif;
$text_font_PT_Sans: 'PT Sans', sans-serif;
$text_font_Rubik: 'Rubik', sans-serif;
$text_font_PT_Sans_Caption: 'PT Sans Caption', sans-serif;
  $text_font_Alegreya_Sans_SC: 'Alegreya Sans SC', sans-serif;
$text_font_Alegreya_Sans_SC_bold: 'Alegreya Sans SC', sans-serif;
$text_font_Ubuntu: 'Ubuntu', sans-serif;

$color-main: #3c3c3c;
$color-text-header: #d2d2d2;
$color-text-h2: #3c3c3c;
$color-border: #a6894a;
$color-text_h1: #a6894a;
$color-vertical-line: #756767;


html {
  font-size: 100%
}

body {
  background-color: white;

  margin: 0;
}

.language {
  width: 100%;
  display: flex;
  justify-content: flex-end;


  background-color: #3c3c3c;
}

.language__item {
  display: flex;
  justify-content: flex-end;

  margin: 20px 20px 0 0;
}

.language__list {
  list-style-type: none;

  font-family: $text_font_Alegreya_Sans_SC;
  font-size: 1em;

  text-decoration: none;
  color: $color-text_h1;

  margin-right: 10px;
}

.language__href {
  font-family: $text_font_Alegreya_Sans_SC, bold;
  font-size: 1em;

  text-decoration: none;
  color: $color-text_h1;
}



/*          --    header    --           */



.header {
  width: 100%;

  display: flex;
  justify-content: center;

  margin: 0 auto;

  background-color: #3c3c3c;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__name {

  font-family: $text_font_Alegreya_Sans_SC;
  font-size: 3em;
  letter-spacing: 2px;

  text-transform: uppercase;
  text-decoration: none;
  color: $color-text-header;

  border: 3.5px solid $color-border;
  border-radius: 3px;

  padding: 10px;
  margin: 50px auto 10px;
}

.header__specialty {
  font-family: $text_font_Alegreya_Sans_SC;
  font-size: 1.5em;
  letter-spacing: 2px;

  text-transform: uppercase;
  text-decoration: none;
  color: $color-text-header;

  margin-bottom: 15px;


}
.header__reference {
  width: 100%;
}

.menu__item {
  display: flex;
  justify-content: space-between;

  padding: 0;

}

.menu__list {
  list-style-type: none;

  font-family: $text_font_Alegreya_Sans_SC;
  font-size: 1em;

  text-decoration: none;
  color: $color-text-header;

  margin-bottom: 20px;

}

.menu__href {
  font-family: $text_font_Alegreya_Sans_SC, bold;
  font-size: 1em;

  text-decoration: none;
  color: $color-text-header;
}

.icon {
  font-size: 1em !important;
  color: $color-border;
  padding-right: 3px;
}


/*          --    information    --           */

.information {
  width: 70%;

  margin: 0 auto;
}
.information__content {
  display: flex;
  flex-direction: column;
}

/*          --    first-block    --           */

.first-block {
  width: 100%;
  display: flex;
  justify-content: space-around;

  margin-top: 50px;
}
.left-block {
  width: 40%;
  display: flex;
  flex-direction: column;

  padding-right: 18px;

  border-right: 2px solid $color-vertical-line;
}

.section__header {
  display: flex;
  flex-direction: column;
}

.horizontal-line {
  width: 100%;
  background-color: $color-border;
  height: 2px;
  padding: 0;
}


.header_text {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.style {
  font-family: $text_font_Alegreya_Sans_SC;
  font-size: 2em;

  text-transform: uppercase;
  text-decoration: none;
  color: $color-text_h1;

  padding: 0;
  margin: 0 0px 5px;
}



.about-us__content {
  display: flex;
}

.about-us__item {
  padding: 0;
  padding-right: 15px !important;

}

.about-us__first-col {
  font-family: $text_font_Alegreya_Sans_SC;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;

  list-style-type: none;
  text-decoration: none;
  color: $color-text-h2;
}


.about-us__last-col {
  font-family: $text_font_Alegreya_Sans_SC;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 1px;

  list-style-type: none;
  text-decoration: none;
  color: $color-text-h2;
}

.right-block {
  width: 55%;
  display: flex;
  flex-direction: column;
}

/*          --    second-block    --           */

.second-block {
  margin-top: 30px;
}

.skill__content {
margin-top: 30px;
}

.first__line {
  display: flex;
  justify-content: space-around;
}

.second__line {
  display: flex;
  justify-content: space-around;
}

.first__line-first {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.second__line-first {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.skill__list {
  font-family: $text_font_Alegreya_Sans_SC;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;

  list-style-type: none;
  text-decoration: none;
  color: $color-text-h2;
}

.icon {
  margin-bottom: 10px;
}

.icon_img {
  width: 100px;
}

.level {
  display: flex;
}

.level__know {
  font-size: 1em !important;
  color:$color-border;
  border-color: $color-main;
  padding-right: 3px;
}

.level__unknow {
    font-size: 1em !important;
    border-color: $color-main;
    padding-right: 3px;
}

.skill__content {
  display: flex;
  flex-direction: column;
}



/*          --    third-block    --           */

.third-block {
  margin-top: 30px;
}

.study__content {
  margin-top: 30px;
}

.study__content {
  display: flex;
  justify-content: space-around;
}

.study-resours__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0;
}

.study-resours__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 30px;
}

.study-resours__list:last-child {
  margin-bottom: 0 !important;
}

.resours__left {
  width: 100px;

  margin-right: 100px;
}

.resours__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.resours__autor {
  font-family: $text_font_Alegreya_Sans_SC;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;

  list-style-type: none;
  text-decoration: none;
  color: $color-text-h2;
}

.resours__name {
  font-family: $text_font_Alegreya_Sans_SC;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 1px;

  list-style-type: none;
  text-decoration: none;
  color: $color-text-h2;
}



/*          --    fourth-block    --           */


.fourth-block {
  margin-top: 30px;
}

.link__content {
  display: flex;
  flex-direction: column;
}

.link__item {
  padding: 0;
}

.link__list {
  list-style-type: none;
}

.link__list:first-child {
  padding-bottom: 15px;
}

.link-name__list {
  font-family: $text_font_Alegreya_Sans_SC;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 1px;

  list-style-type: none;
  text-decoration: none;
  color: $color-text-h2;
}




/*          --    fifth-block    --           */



.fifth-block {
  margin: 30px 0 80px 0;
}

.interests__item {
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.interests__list {
  list-style-type: none;
}

.interests {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $text_font_Alegreya_Sans_SC;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 1px;

  list-style-type: none;
  text-decoration: none;
  color: $color-text-h2;
}

.interests__img {
  width: 30%;

  margin-bottom: 3%;
}